body{
    background-color:#333;
    color:#fff;
    font-size:18px;
    line-height: 1.6em;
    
}
.container{
    max-width: 75%;
    margin:auto;

}
.box{
    background-color:#fff;
    width:200px;
    height:200px;
    position:relative;
    margin:auto;
    top:50px;
    /*transition-property: background, border-radius;*/
    transition-property: all;
    /*transition-duration: 2s,4s;*/
    transition-duration: 2s;
    /*transition-delay: 0.7s;*/
    transition-timing-function: ease-in;


}
.box:hover{
    background:rgba(4, 124, 245, 0.3);
    border-radius: 50%;
    transform: rotateY(180deg);
    /*transform: rotateX(180deg);*/
}
